# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# VS Code
.vscode/
*.code-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
spring-pid

# Java
*.class
*.jar
*.war
*.ear